<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.lists() %>">lists</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">New list</a></li>
</ul>

<div class="page-header">
    <h1>New list</h1>
</div>

<% var form = formFor(list, {action: pathTo.lists(), method: 'POST', id: "list-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Create list', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.lists(), {class: 'btn'}) %>
</div>
<%- form.end() %>
